@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Color scheme */

:root {
    --primary-color: #007bff;
    --dark-accent: #0056b3;
    --hover-color: #bde2ff;
    --active-color:#2196F3;
    --link-hover-color:#84caff;
    --soft-white: #f7f7f7;
    --soft-black: #333;
    --app-max-width: 38em;
    --app-min-width: 25em;
    --toggle-color: #e9ecef;
    --slider-width: 55px;
    --slider-height: 30px;
}

/* og slider color was XXX */

/* Setup main defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


a {
    color: var(--primary-color)
}

html {
    scroll-behavior: smooth;
}

header, footer {
    width: 100%; /* spans the full viewport width */
    background-color: #333; /* a dark background for contrast */
    color: white; /* white text for visibility against the dark background */
    padding: 5px 0; /* some spacing around the content */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight */
    color: var(--soft-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures footer stays at the bottom for short content */
    align-items: center;
    background-color: var(--soft-white);
}

/* Header */

header {
    display:flex;
    justify-content: center;
}

/* Responsiveness attempts */

.header-content, main {
    min-width: var(--app-min-width);
    max-width: var(--app-max-width);
    width:100%;
}


.logo-link {
    display: none;
    width: 100%
}

@media (min-width: 620px) { 
/* Duno if I need this??     
    .app-content {
        width: 80%;
    } */
    .logo-link {
        display: block;
    }
    
}

/* Header styling */
.header-content {
    display:flex;
    justify-content: space-between;
    padding: 0 1em;
}

.logo-box{
    display:flex;
    align-items: center;
}


/* Menu styling */
header a {
    color: var(--soft-white);
    text-decoration: none;
    font-size: 1.25em;
}

.menu {
    display:flex;
    align-items: center;
}

.menu li{
    list-style: none;
    padding: 0.2em 0.5em;
    flex-shrink:0;
}

img.logo {
    height: 50px;
    width: auto;
    padding: 0 0.5em 0 0;
}

/* Main screen turn on */

main {
    flex: 1;
    background-color: white;
    padding: 0 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

/* Hiding stuff */


/* Icons and typography */
.material-icons{
    color: var(--primary-color);
    background-color: white;
    font-size: 3em;
    font-weight: bold;
}

h1 {
    text-align: center;;
    font-size: 1.6em;
    padding: 0.25em 0 0.5em 0;
}

h2, h3 {
    padding: 0.25em 0;
}

p {
    padding: 0.5em 0;
}

/* Apps, Apps, Apps! */

.app-box{
    display:flex;
    justify-content: center;
}

.app-inner{
    flex:1;
}

/* Digitbox */


.digitbox {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.digit {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 4.5em;
}

/* Trixy */
.colon {
    margin: 0 -0.5em 0 0em;
}

/* New formatting with true center */

/* (via a dummy div) */

.pace-box {
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
}

.left-dummy {
    flex:1;
}

.clock {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.unit-stack {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.unit-stack-horiz {
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3em;
}

.pace-toggle {
    width: 5.5ch;
    flex: 0;
}

.output-toggle {
    width: 5.5ch

}

/* ------------------------ */

.svg-arrow {
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid var(--dark-accent) 2px;
    border-radius: 10px;
    padding: 0 0px;
    margin: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}


.unit-text {
    height:3em;
    display:flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0.75em 0 0;
    font-family:'PT Mono', monospace;
    font-size: 1.25em;
    font-weight:bold;
}


.unit-stack li {
    border-radius:5px;
}

.unit-toggle, .hill-toggle{
    background-color: var(--toggle-color);
    border: none;
    font-size:1.1em;
    border-radius:5px;
    padding: 0.25em 0.5em;
    margin: 0.2em 0em;
    cursor:pointer;
    min-width: 3ch;
}


/* Spacer */

.spacer {
    font-size: 1.5em;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 0.5em;
}


.toggle-box {
    align-items: center;
    justify-content: space-between;
    flex: 1;
}


/* Incline box */
.incline-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incline-pct.digit {
    font-weight: normal;
    font-size: 2.5em;
}

.deg-pct {
    font-weight: normal;
    font-size: 3em;

}

.incline-digits.digit {
    font-size: 2.5em;
    width: 2.25ch;
    display:flex;
    justify-content: right;
}

.incline-label.digit {
    font-size: 2.15em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    
}

.incline-text {
    display:flex;
    align-items:center;
    padding: 0em 1em;
}

.arrow-box {
    display:flex;
}

.pct-button {
    font-size: 1.4em;
    outline: none; /* remove focus outline (consider accessibility) */
    cursor: pointer;
    border: solid var(--primary-color) 2px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    height: 2em;
    width: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}


.incline-unit-box {
    padding: 0.5em 0;

}

/* Rise over run tex tinput */


/* Will be hidden initially,  */

.hill-outer {
    display:flex;
    justify-content: center;
}

.input-row {
    display:flex;
    justify-content: center;
}


#rise {
    width: 7ch;
}



.rise-run-row {
    padding: 0.25em 0;
    display:flex;
    justify-content: space-between;
}


.vert-row {
    padding: 0.25em 0;
    display:flex;
    justify-content: center;
}

.slug {
    display:flex;
    flex-direction: row;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color:var(--primary-color);
  background: transparent;
}


.up-down-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;
    padding: 0.4em 0em;
}


.hill-button{
    border:none;
    font-size:3em;
    transition: transform 0.3s; /* This will make the rotation smooth */
    transform-origin: center;
}

 /* ughh old stuff */


.rise-unit, .rise-text {
    font-size: 1.25em;
    flex:0;
    white-space: nowrap;
}

.rise-unit {
    font-weight: bold;
}

.hill-input {
    font-size: 1.25em;
    width: 3em;
    margin: 0 0.3em;
}

.vert-input {
    width: 4em;
}

/* Grade unit selector */

.unit-row {
    white-space: nowrap;
    width:100%;
    display:flex;
    justify-content: center;
    gap: 0.2em;
}

.hill-outer, .incline-box {
    min-height: 5em;
}


/* Calculation results */

.pace-result-box {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pace-result-text{
    padding: 0em 0.75em;
}

#pace-or-effort{
    font-weight:bold;
}

.pace-result, .convert-result {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 4.5em;
}

.convert-units, .result-units {
    font-family:'PT Mono', monospace;
    font-weight:bold;
    font-size: 1.25em;
}

/* Effort and flipper */

.effort-container {
    display:flex;
    justify-content:center;
}


.mirrored {
    transform: scaleX(-1);
}

.i-note {
    outline: none;
    cursor: pointer;
    border: solid var(--primary-color) 2px;
    background-color: white;
    font-size: 1.25rem;
    width:1.25em;
    height:1.25em;
    display:flex;
    flex: 0 0 auto;
    border-radius: 50%;
    color: #2196F3;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
}


/* Unit conversions */

/* Footer */

footer {
    text-align: center;
    padding: 12px 0;
}

footer a{
    color: var(--soft-white);
}

/* Hover on mice not phones */

/* Hover only on mice */
@media (hover: hover) {
    .svg-arrow:hover, .pct-button:hover, .unit-toggle:hover, .hill-toggle:hover {
        background-color: var(--hover-color);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.12);
    }

    .hill-button:hover {
        cursor:pointer;
        color: var(--dark-accent);
    }


    .i-note:hover{
        background-color: var(--hover-color);
        cursor:pointer;
    }

    .flip-button:hover {
        color: var(--dark-accent);
        cursor: pointer;
    }
    .unit-toggle:hover, .hill-toggle:hover {
        color:black;
    }

    .logo-link a:hover{
        color:var(--link-hover-color);
    }

    .menu a:hover {
        color:var(--link-hover-color);
    }

    .material-icons.up:hover  {
        color:var(--primary-color);
    }

    .bulb-icon:hover{
        background-color: #fefce8;
    }
}

/* Coloring buttons when active */

.unit-toggle:active{
    background-color: var(--active-color);
}

.svg-arrow:active, .pct-button:active {
    /* Must be AFTER hover def! */
    background-color: var(--link-hover-color);
    /* color: white; */
}

/* IF the to/from unit buttons are active */
.active {
    background-color: var(--active-color);
    color:white;
}

.i-note:active {
    color:white;
    border: solid var(--link-hover-color) 2px;
}

/* up to top arrow */
.material-icons.up  {
    padding: 0 0 0 0.5em;
    font-size: 1.4rem;
    color: gray;
    text-decoration: none;;
}



/* Nice toggle swithc */

/* Toggle slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--slider-width, 60px); /* Default width */
    height: var(--slider-height, 34px); /* Default height */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color .3s;
    border-radius: calc(var(--slider-height, 34px) / 2); /* Make the slider rounded based on height */
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--slider-height, 34px) - 8px); /* Adjust based on slider height */
    width: calc(var(--slider-height, 34px) - 8px); /* Make the circle's size responsive to the slider's height */
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform .4s;
    border-radius: 50%; /* Always fully rounded */
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(calc(var(--slider-width, 60px) - var(--slider-height, 34px))); /* Move circle to the right */
}


/* Alert box */
.alert-box, .info-box{
    display: flex;
    padding: 0.4em 0;
    justify-content: center;
}


.alert-inner {
    width: 70%;
    display:flex;
    align-items: center;
    background-color: #fef08a;
    border-radius: 10px;
    padding: 0.4em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); 
}

.info-inner {
    width: 70%;
    display:flex;
    align-items: center;
    background-color: #a5f3fc;
    border-radius: 10px;
    padding: 0.4em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); 
}

.bulb-icon {
    text-decoration: none;
    cursor: pointer;
    flex: 0 0 auto;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50%;
    display: flex;
    height: 1.25em;
    width: 1.25em;
    border: solid #92400e 2px;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

.bulb-icon a{
    text-decoration: none;
    color: #92400e;
}


.alert-text {
    text-align: center;
    color: #92400e;
    padding: 0 1em;
}

.info-text {
    text-align: center;
}

/* At the bottom I guess */

.hidden {
    display: none;
}


